
.container {
    aspect-ratio: 1440/766;
    width: 50%;
    background-color: #000000;
}



.background-svg {
    width: 100%;
    height: auto;
    /* fill: #000000 !important; */
    vertical-align: top;
}